################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog/obj/Debug
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.Droid/obj/Debug/__library_projects__
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.UWP/obj/x86/Debug
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog/bin/Debug
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.Droid/bin/Debug
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.Droid/obj/Debug
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.iOS/bin/iPhone/Debug
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.iOS/obj/iPhone/Debug
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.iOS/bin/iPhoneSimulator/Debug
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.iOS/obj/iPhoneSimulator/Debug
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog/ApiKeyProvider.cs
/.vs/slnMCSFaceRecog/v14
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.Droid/Xamarin.Forms.MCS.FaceRecog.Droid.csproj.bak
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.iOS/Xamarin.Forms.MCS.FaceRecog.iOS.csproj.bak
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.UWP/bin
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.UWP/obj/ARM/Debug/Prism/en
/Xamarin.Forms.MCS.FaceRecog/Xamarin.Forms.MCS.FaceRecog.UWP/obj/ARM/Debug
